<p class="componentBorder">--Start of hero-sandbox.component.html--</p>
<h2>A String Hero: {{heroString}}</h2>
<h2>An Object Hero: {{heroObject.name | uppercase}}</h2>
<div>
  <span>id: </span>{{heroObject.id}}</div>
<div>
  <span>name: </span>{{heroObject.name}}</div>
<div>
  <span>weapon: </span>{{heroObject.weapon}}</div>

<div>
  <!-- Using 'ngModel' for updating object fields through an input field -->
  <label>Hero's name:
    <input [(ngModel)]="heroObject.name" placeholder="name">
  </label>
  <label>Hero's weapon:
    <input [(ngModel)]="heroObject.weapon" placeholder="weapon">
  </label>
</div>

<!-- Provide the heroObject to the HeroDetailsCompontent-->
<app-hero-detail [heroToDisplay]="heroObject"></app-hero-detail>
<p class="componentBorder">--End of hero-sandbox.component.html--</p>