<p class="componentBorder">--Start of heroes.component.html--</p>

<!-- Property Binding   -->
<!-- 
HeroesComponent - heroSelected property is Binded To with the @Input decorator HeroDetailComponent - heroToDisplay property -->
<!-- <app-hero-detail [heroToDisplay]="heroSelected"></app-hero-detail> -->
<h2>A List of Clickable Hero objects</h2>


<!-- Assignin method onSelect() for the onClick event -->
<!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->
<!-- <ul class="heroes">
  <li *ngFor="let heroCurrent of heroList" (click)="onSelect(heroCurrent)" [class.selected]="heroCurrent ===heroSelected">
    <span class="badge">{{heroCurrent.id}}</span>
    <span>{{heroCurrent.name}} </span>
    <span class="badge">{{heroCurrent.weapon}}</span>
  </li>
</ul> -->

<!-- Assigning a link for each list item -->
<div *ngIf="heroList">
  <ul class="heroes">
    <li *ngFor="let heroCurrent of heroList">
      <a routerLink="/detail/{{heroCurrent.id}}">
        <span class="badge">{{heroCurrent.id}}</span>
        <span>{{heroCurrent.name}} </span>
        <span class="weapon">{{heroCurrent.weapon}}</span>
      </a>
      <button class="deleteButton" title="delete hero button" (click)="deleteHero(heroCurrent)">x</button>
    </li>
  </ul>
</div>

<div>
  <label>Add new Hero
    <br> Name:
    <input #heroName />
    <br> Weapon:
    <input #heroWeapon />
  </label>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addHero(heroName.value, heroWeapon.value); heroName.value=''; heroWeapon.value=''">Add Hero</button>
</div>

<p class="componentBorder">--End of heroes.component.html--</p>
