<p class="componentBorder">--Start of heroes.component.html--</p>

<!-- Property Binding   -->
<!-- 
HeroesComponent - heroSelected property is Binded To with the @Input decorator HeroDetailComponent - heroToDisplay property -->
<app-hero-detail [heroToDisplay]="heroSelected"></app-hero-detail>
<h2>A List of Clickable Hero objects</h2>

<!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->
<ul class="heroes">
  <li *ngFor="let heroCurrent of heroList" (click)="onSelect(heroCurrent)" [class.selected]="heroCurrent ===heroSelected">
    <span class="badge">{{heroCurrent.id}}</span>
    <span>{{heroCurrent.name}} </span>
    <span>{{heroCurrent.weapon}}</span>
  </li>
</ul>
<p class="componentBorder">--End of heroes.component.html--</p>